{% extends 'base.html' %}

{% block content %}

<div id="app">

    <form>
      <label>
        <p class="label-txt">ENTER YOUR EMAIL</p>
        <input  v-model="email" type="text" class="input">
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p class="label-txt">ENTER YOUR FIRST NAME</p>
        <input v-model="first_name" type="text" class="input">
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p class="label-txt">ENTER YOUR LAST NAME</p>
        <input v-model="last_name" type="text" class="input">
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p class="label-txt">ENTER YOUR USERNAME NAME</p>
        <input v-model="username" type="text" class="input">
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p class="label-txt">ENTER YOUR PASSWORD</p>
        <input v-model="password" type="password" class="input">
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <button @click="Signup" type="submit">submit</button>
    </form>
</div>
<script>
  var app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      data: {
        first_name: '',
        last_name:'',
        username:'',
        email:'',
        password:'',
        },
        mounted() {
    },
    methods:{
            Signup(){
              axios.post(`/user/`, {
                  first_name: this.first_name,
                  last_name: this.last_name,
                  username: this.username,
                  email: this.email,
                  password: this.password
              })
              .then((response) => {
                alert("success")
              }, (error) => {
              console.log(error);
            });
        // this.titl = ""
          },
    }
  })
  

</script>

{% endblock %}